@use '../../../styles/utilities/mixins' as m;
@use '../../../styles/utilities/functions' as f;
@use '../../../styles/utilities/variables' as v;

.list {
    &--table {
        @include m.list;
        @include m.margins($margin-block: f.rem(-8) f.rem(8));
        gap: 0;
        li {
            width: 100%;
            text-align: center;
            @include m.grid(
                $grid-template-columns: 1fr, 
                $mobile-grid-template-columns: repeat(2, 1fr)
            );
            span {
                &:first-of-type {
                    @include m.paddings(
                        $padding-block: f.rem(11), 
                        $mobile-padding-inline: f.rem(30) 0
                    );
                }
                &:last-of-type {
                    @include m.paddings(
                        $padding-block: f.rem(11), 
                        $mobile-padding-inline: f.rem(8) 0
                    );
                }
                &.text--semibold {
                    color: map-get(v.$colors, 'color-nutmeg'); 
                }
            }
        }
    }
}

@include m.breakpoint-up('mobile') {
    .list {
        &--table {
            li {
                text-align: left;
            }
        }
    }
}