@use '../../../styles/utilities/mixins' as m;
@use '../../../styles/utilities/functions' as f;
@use '../../../styles/index.scss' as *;

.hero {
    @include m.section-standard;
    // Override
        @include m.paddings(
            $padding-inline: 0, 
            $padding-block: 0,
            $desktop-padding-inline: 0, 
            $desktop-padding-block: 0
        );
    &__picture {
        @include m.paddings(
            $desktop-padding-inline: f.rem(39), 
            $desktop-padding-block: f.rem(39)
        );
        img {
            @include m.border($desktop-border-radius: 'br-standard');
        }
    }
    &__text {
        @include m.section-standard;
        @include m.flexbox(
            $direction: column, 
            $gap: f.fluidValue(
                $min-width: 200, 
                $max-width: 320, 
                $size-min: 18, 
                $size-max: 24
            )
        );
    }
}

@include m.breakpoint-up('desktop') {
    .hero {
        &__picture {
            padding-bottom: 0;
        }
    }
} 

