@use 'functions' as f;

$breakpoints: (
    'mobile': f.em(320),
    'desktop': f.em(768)
);

$colors: (
    'color-nutmeg': hsl(14, 45%, 36%),
    'color-darkRaspberry': hsl(332, 51%, 32%),
    'color-white': hsl(0, 0%, 100%),
    'color-roseWhite': hsl(330, 100%, 98%),
    'color-eggshell': hsl(30, 54%, 90%),
    'color-lightGrey': hsl(30, 18%, 87%),
    'color-wengeBrown': hsl(30, 10%, 34%),
    'color-darkCharcoal': hsl(24, 5%, 18%)
);

$font: (
    'ff-style1': (Outfit, sans-serif),
    'ff-style2': (Young Serif, serif),
    'fs-root': f.rem(16),
    'fs-h2': f.rem(26),
    'fs-h3': f.rem(20),
    'fw-root': 400,
    'lh-root': 1.5,
    'lh-h2': 1.2,
    'lh-h2--desktop': 1.25,
    'lh-h3': 1.1,
    'ls-root': 0,
    'ls-h2': f.rem(1),
    'ls-h3': f.rem(-0.2)
);


$width: ();

$height: ();

$margin: ();

$padding: (
    'pi-section': f.fluidValue(
        $min-width: 200, 
        $max-width: 320, 
        $size-min: 16, 
        $size-max: 32
    ), 
    'pi-section--desktop': f.rem(40),
    'pi-sectionAccent': f.fluidValue(
        $min-width: 200, 
        $max-width: 320, 
        $size-min: 12, 
        $size-max: 24
    ),
    'pi-sectionAccent--mobile': f.fluidValue(
        $min-width: 478, 
        $max-width: 768, 
        $size-min: 24, 
        $size-max: 28
    ),
    'pb-section': f.fluidValue(
        $min-width: 200, 
        $max-width: 320, 
        $size-min: 10, 
        $size-max: 20
    ),
    'pb-section--desktop': f.rem(22),
    'pb-sectionAccent': f.fluidValue(
        $min-width: 200, 
        $max-width: 320, 
        $size-min: 12, 
        $size-max: 24
    ),
    'pb-sectionAccent--mobile': f.fluidValue(
        $min-width: 478, 
        $max-width: 768, 
        $size-min: 24, 
        $size-max: 26
    )
);

$border: (
    'br-standard': f.rem(20),
    'br-sectionAccent': f.rem(10),
);

$flex: (
    'gap-section': f.fluidValue(
        $min-width: 200, 
        $max-width: 320, 
        $size-min: 16, 
        $size-max: 20
    ),
    'gap-sectionAccent': f.rem(14),
    'gap-list': f.rem(8)
);

$grid: ();

$position: ();


