@use 'sass:map';
@use '../../../styles/utilities/mixins' as m;
@use '../../../styles/utilities/functions' as f;

.list {
    &--unordered {
        @include m.list;
        &.standard {
            @include m.list-standard; 
        }
        &.accent {
            @include m.list-accent; 
        }
        li {
            @include m.position($position: relative);
            @include m.margins(
                $margin-inline: (f.fluidValue(
                    $min-width: 200, 
                    $max-width: 320, 
                    $size-min: 20, 
                    $size-max: 40
                )) 0
            );
            counter-increment: list-counter;
            &:before {
                content: "•";
                @include m.position(
                    $position: absolute, 
                    $left: f.fluidValue(
                        $min-width: 200, 
                        $max-width: 320, 
                        $size-min: -16, 
                        $size-max: -32
                    ), 
                    $top: 50%
                );
                transform: translateY(-50%);
            }
        }
    }
}

