@use 'sass:map';
@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;

.page {
    @include m.flexbox(
        $direction: column,
        $justify-content: center);
    @include m.dimensions($min-height: 100vh);
    background-color: map-get(v.$colors, 'color-eggshell');
}